* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4F4F4;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.card-icon {
  width: 80px;
  height: 80px;

  position: relative;
  cursor: pointer;
}

.card-icon:nth-child(1) {
  transform: translate(-80%, 110%) rotate(-20deg) skew(7deg);
}

.card-icon:nth-child(2) {
  transform: translate(-40%, 55%) rotate(-20deg) skew(7deg);
}

.card-icon:nth-child(3) {
  transform: translate(0, 0) rotate(-20deg) skew(7deg);
}

.card-icon:nth-child(4) {
  transform: translate(40%, -55%) rotate(-20deg) skew(7deg);
}

.card-icon:nth-child(5) {
  transform: translate(80%, -110%) rotate(-20deg) skew(7deg);
}

.card-icon .icon {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #E0E0E0;
}

.card-icon .icon i {
  font-size: 24px;
  color: #616161;
  transition: color .7s;
}

.card-icon .icon, .layers span {
  width: 100%;
  height: 100%;

  border-radius: 10px;
  transition: transform .5s, opacity .7s, background-color .7s;
}

.layers span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

/*
 * HOVER EFFECT
 * 
 * COLORS
 */

.card-icon:hover#facebook .icon,
.card-icon:hover#facebook .layers span {
  background-color: #4267B2;
}

.card-icon:hover#whatsapp .icon,
.card-icon:hover#whatsapp .layers span {
  background-color: #4AC959;
}

.card-icon:hover#instagram .icon,
.card-icon:hover#instagram .layers span {
  background-color: #E1306C;
}

.card-icon:hover#twitter .icon,
.card-icon:hover#twitter .layers span {
  background-color: #1DA1F2;
}

.card-icon:hover#linkedin .icon,
.card-icon:hover#linkedin .layers span {
  background-color: #2867B2;
}

.card-icon:hover .icon i {
  color: #fff;
}

/*
 * TRANSLATE AND OPACITY
 */

.card-icon:hover .icon {
  transform: translate(24px, -24px);
}

.card-icon:hover .layers span:nth-child(1) {
  transform: translate(16px, -16px);
  opacity: 0.6;
}

.card-icon:hover .layers span:nth-child(2) {
  transform: translate(8px, -8px);
  opacity: 0.4;
}

.card-icon:hover .layers span:nth-child(3) {
  opacity: 0.2;
}