* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

button {
  position: relative;
  padding: 25px 60px;
  border: none;

  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;

  background-color: transparent;
  color: #FAFAFA;
  cursor: pointer;
}

/* BUTTON ONE */
.button-one::before,
.button-one::after,
.button-one span {
  content: '';
  position: absolute;
  
  width: 7px;
  height: 7px;

  background-color: transparent;
  transition: width .7s ease, height .7s ease;
}

.button-one::before {
  top: 0;
  left: 0;
  border-top: 5px solid #FAFAFA;
  border-left: 5px solid #FAFAFA;
}

.button-one span:nth-child(1) {
  top: 0;
  right: 0;
  border-top: 5px solid #FAFAFA;
  border-right: 5px solid #FAFAFA;
}

.button-one::after {
  bottom: 0;
  right: 0;
  border-bottom: 5px solid #FAFAFA;
  border-right: 5px solid #FAFAFA;
}

.button-one span:nth-child(2) {
  bottom: 0;
  left: 0;
  border-bottom: 5px solid #FAFAFA;
  border-left: 5px solid #FAFAFA;
}

.button-one:hover::before,
.button-one:hover::after,
.button-one:hover span {
  width: 44.5%;
  height: 33%;
}

/* BUTTON TWO */
.button-two {
  border: 5px solid #FAFAFA;
}

.button-two::before,
.button-two::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;

  background-color: #6D64C6;
  transform: skew(-40deg);
  transition: left .3s;
}

.button-two::before {
  top: -5px;
  left: 77%;
}

.button-two::after {
  bottom: -5.5px;
  left: 15%;
}

.button-two:hover::before {
  left: 15%;
}

.button-two:hover::after {
  left: 77%;
}

/* BUTTON THREE */
.button-three svg,
.button-three rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
}

.button-three svg rect {
  stroke: #FAFAFA;
  stroke-width: 9;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: all 2s;
}

.button-three:hover svg rect {
  stroke-dashoffset: 0;
}