* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #eaeffc;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 10rem;

  background-image: url("https://images.unsplash.com/photo-1464178634217-fdda7ccaf33d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80");
  background-size: cover;
  background-repeat: no-repeat;

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  animation: slide-bg 10s linear infinite;
}

@keyframes slide-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}